
#navbar h2 {
    color: #33ADFB;
}

#home_page h1 {
    width: 100%;
    font-size: 6em;
    text-align: center;
    font-family: sans-serif;
    color: #33ADFB;
}
#home_page h3 {
    width: 100%;
    text-align: center;
}
#big_btn_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 5em 1em;
}
#home_page .big_btn a {
    padding: 2em;
    background-color: #33ADFB;
    font-size: 1.3em;
    border-radius: 10px;
    transition: 0.4s;
    display: flex;
    color: white;
}
#home_page .big_btn a:hover {
    box-shadow: 6px 4px 20px #0000002e;
}
.dark #home_page .big_btn a {
    background-color: #1b5638;
    color: #d2f9e5;
}
.dark #home_page .big_btn a:hover {
    box-shadow: 6px 4px 20px #000000;
    background-color: #2a7d53;
}

#doc_home body:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d8edff;
    background-size: 100% 100%;
    transition: 0.4s;
}

#doc_home body::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 13em;
    left: 0;
    background: url(/static/image/bg2.png) center 0 no-repeat;
    background-size: cover;
}

#doc_home #page_content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
}
#doc_home #page_content a {
    margin: 0.5em;
}
#doc_home #page_content a:hover, #store a:hover {
    background-color: transparent;
}
#doc_home #page_content a > img {
    padding: 0;
    border-radius: 10px;
}
#doc_home #page_content a > img {
    box-shadow: 0px 0px 7px 1px #bbdfff;
}
#doc_home #page_content a:hover > img {
    box-shadow: 8px 9px 15px 1px #81a1bf;
    transition: 0.4s;
}
#store a > img {
    height: 40px;
    transition:height 0.4s;
    -moz-transition:height 0.4s; /* Firefox 4 */
    -webkit-transition:height 0.4s; /* Safari and Chrome */
    -o-transition:height 0.4s; /* Opera */
}
#store a:hover > img {
    height: 50px;
}
#doc_home h1 {
    margin-bottom: 2em;
}
#doc_home #search {
    background-color: #6391ed;
}
#doc_home #search .placeholder {
    color: #ffffff;
}
#doc_home body.dark:before {
    background-color: transparent
}
#doc_home .dark #page_content a > img {
    box-shadow: 0px 0px 10px 0px #000000;
}
#doc_home .dark #page_content a:hover > img {
    box-shadow: 0px 0 15px 5px #ffffff;
}
#doc_home .dark #navbar {
    background: #1b1b1b;
}

@media screen and (max-width: 900px) {
    #big_btn_wrapper {
        flex-direction: column;
    }
    #big_btn_wrapper > div {
        margin: 2em 0;
    }
    #footer_top > ul {
        margin: 0 0;
    }
    #doc_home p {
        display: flex;
        flex-direction: column;
    }
    #doc_home #page_content a {
        width: min-content;
    }
    #doc_home #page_content a:hover {
        background-color: transparent;
    }
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }

  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  .carousel-item-next:not(.carousel-item-left),
  .active.carousel-item-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  .carousel-item-prev:not(.carousel-item-right),
  .active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
  }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: 0s 0.6s opacity;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
      transition: none;
    }
  }

  .carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #09CEF3;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  
  .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
      transition: none;
    }
  }
  
  .carousel-indicators .active {
    opacity: 1;
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

.d-block {
    display: block !important;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }